asttokens==3.0.1
certifi==2026.5.20
charset-normalizer==3.4.7
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
Cython==3.2.5
ddeint==0.3.0
debugpy==1.8.21
decorator==5.3.1
Deprecated==1.3.1
exceptiongroup==1.3.1
executing==2.2.1
filelock==3.29.0
fonttools==4.63.0
future==1.0.0
giotto-ph==0.2.4
giotto-tda==0.6.2
gudhi==3.12.0
hopcroftkarp==1.2.5
idna==3.18
igraph==1.0.0
importlib_resources==7.1.0
ipykernel==7.2.0
ipython==8.39.0
ipywidgets==8.1.8
jedi==0.20.0
joblib==1.5.3
juliacall==0.9.34
juliapkg==0.1.24
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
llvmlite==0.47.0
matplotlib==3.10.9
matplotlib-inline==0.2.2
mpmath==1.3.0
narwhals==2.22.0
nest-asyncio==1.6.0
networkx==3.4.2
nolds @ git+https://github.com/CSchoel/nolds.git@f121feebf6b2cbd67a8cb855bd0fe8c39add3ad9
numba==0.65.1
numpy==1.26.4
packaging==26.2
pandas==2.3.3
parso==0.8.7
patsy==1.0.2
persim==0.3.8
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.10.0
plotly==6.7.0
pooch==1.9.0
POT==0.9.6.post1
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==24.0.0
pyentrp==2.1.0
pyflagser==0.4.7
Pygments==2.20.0
pyparsing==3.0.9
python-dateutil==2.9.0.post0
pytz==2026.2
pyzmq==27.1.0
requests==2.34.2
ripser==0.6.15
scikit-learn==1.3.2
scipy==1.15.3
semver==3.0.4
six==1.17.0
sortedcontainers==2.4.0
stack-data==0.6.3
statsmodels==0.14.6
swpy==0.1.2
sympy==1.14.0
teaspoon==1.6.0
texttable==1.7.0
threadpoolctl==3.6.0
tomli==2.4.1
tomlkit==0.15.0
tornado==6.5.6
traitlets==5.15.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
wcwidth==0.7.0
widgetsnbextension==4.0.15
wrapt==2.2.1
